@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor ContextAccessor

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] | DAC Manager</title>

	<environment names="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
		<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="~/lib/metisMenu/metisMenu.min.css">
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
	@Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/logo.png"></a>
			</div>
			@await Html.PartialAsync("_LoginPartial")
		</div>
		<div class="sidebar-wrapper navbar-inverse">
			<ul class="sidebar-nav">
				<li>
					<a asp-controller="Home" asp-action="Index">
						<i class="fa fa-home fa-fw fa-lg" aria-hidden="true"></i> Home Page
					</a>
				</li>
				<li>
					<a asp-controller="Home" asp-action="About">
						<i class="fa fa-question fa-fw fa-lg" aria-hidden="true"></i> About Application
					</a>
				</li>
				<li data-toggle="collapse" data-target="#tables" class="collapsed">
					<a href="#">
						<i class="fa fa-database fa-fw fa-lg" aria-hidden="true"></i> Table Operations <span class="arrow"></span>
					</a>
					<ul class="submenu collapse" id="tables">
						<li>
							<a asp-controller="Actors" asp-action="Index">
								&ensp;Actors
							</a>
						</li>
						<li>
							<a asp-controller="Movies" asp-action="Index">
								&ensp;Movies
							</a>
						</li>
						<li>
							<a asp-controller="Categories" asp-action="Index">
								&ensp;Categories
							</a>
						</li>
						@*<li>
							<a asp-controller="Inventories" asp-action="Index">
								&ensp;Inventories
							</a>
						</li>*@
						<li>
							<a asp-controller="Languages" asp-action="Index">
								&ensp;Languages
							</a>
						</li>
						@*<li>
							<a asp-controller="Rentals" asp-action="Index">
								&ensp;Rentals
							</a>
						</li>*@
						<li>
							<a asp-controller="Customers" asp-action="Index">
								&ensp;Customers
							</a>
						</li>
						<li>
							<a asp-controller="Staff" asp-action="Index">
								&ensp;Staff
							</a>
						</li>
						<li>
							<a asp-controller="Stores" asp-action="Index">
								&ensp;Stores
							</a>
						</li>
						@*<li>
							<a asp-controller="Payments" asp-action="Index">
								&ensp;Payments
							</a>
						</li>*@
					</ul>
				</li>
				@{
					var user = await UserManager.GetUserAsync(ContextAccessor.HttpContext.User);

					if (user != null && user.IsAdmin)
					{

						<li>
							<a asp-controller="Permissions" asp-action="Index">
								<i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i> Edit Permissions
							</a>
						</li>
					}
				}
			</ul>
		</div>

	</nav>
	<div class="container-fluid body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 2017 - Artur Furmańczyk (155063), Kamil Kozicki (155105)</p>
			<p><b>Bezpieczeństwo Systemów Komputerowych.</b></p>
		</footer>
	</div>

	<environment names="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
